# ===========================================
# Environment Variables for CryptoJackpot App
# ===========================================

# API Configuration
# URL api gateway
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
